.news-item {
  display: flex;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: floralwhite;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
  &__date {
    margin-right: 15px;
  }
  &__photo {
    max-height: 150px;
    max-width: 150px;
    margin-right: 50px;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}