<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="./src/css/style.css"
    />
    <title>Index page</title>
  </head>
  <body>
    <div class="page-container">
      <header class="header">
        <div class="container">
          <nav class="header__nav nav-top">
            <ul class="nav-top__list">
              <li class="nav-top__item">
                <div class="nav-top__wrapper-left">
                  <a
                    href="#"
                    class="nav-top__link link link--specials"
                    >Карьерный портал</a
                  >
                  <a
                    href="#"
                    class="nav-top__link link link--main"
                    >Погода</a
                  >
                </div>
              </li>
              <li class="nav-top__item">
                <a
                  href="internships.html"
                  class="nav-top__link link link--specials"
                  >Стажировки</a
                >
              </li>
              <li class="nav-top__item">
                <a
                  href="careers.html"
                  class="nav-top__link link link--specials"
                  >Карьерные проекты</a
                >
              </li>
              <li class="nav-top__item">
                <a
                  href="vacancy.html"
                  class="nav-top__link link link--specials"
                  >Вакансии</a
                >
              </li>
              <li class="nav-top__item">
                <div class="nav-top__wrapper-right">
                  <a
                    href="#"
                    class="nav-top__link link link--specials"
                    >Поиск</a
                  >
                  <a
                    href="#"
                    class="nav-top__link link link--specials"
                    >ЛК</a
                  >
                  <a
                    href="#"
                    class="nav-top__link link link--main"
                    >Версия для слабовидящих</a
                  >
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="page-content">
        <div class="slider">
          <div class="container">
            <section class="slider__content">
              <h2 class="slider__title">Слайдер</h2>
            </section>
          </div>
        </div>
        <div class="news">
          <div class="container">
            <section class="news__content">
              <h2 class="news__title">Новости</h2>
            </section>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__content">Контакты</div>
        </div>
      </footer>
    </div>
  </body>
</html>
